<div class="container">
    <h1 class="text-center my-5">My Flats</h1>

    <div class="row">
        <% @flats.each do |flat| %>
            <div class="col-md-4">
                <div class="card mb-5 w-100" style="width: 18rem;">
                    <img src="<%= flat['imageUrl'] %>" class="card-img-top" alt="view">
                    <div class="card-body">
                        <h5 class="card-title"><%= flat["name"] %></h5>
                        <p class="card-text"><%= flat["price"] %> <%= flat["priceCurrency"] %></p>
                        <%= link_to "See more", flat_path(flat["id"]), class: "btn btn-success" %>
                    </div>
                </div>
            </div>
        <% end %>

    </div>


</div>